@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fonts/idroid.otf);
}

:root {
    --cor0: #f7f3c7;
    --cor1: #67D37F;
    --cor2: #57B16A;
    --cor3: #6CDB84;
    --cor4: #468F56;
    --cor5: #356D41;
    --cor6: #254B2D;

    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'idroid', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font: normal 1em Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
    color: black;
}

header {
    text-align: center;
    padding: 1.5em 0;
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor4), var(--cor5), var(--cor6))
}

header h1 {
    font: bold 3em var(--fonte1);
    color: var(--cor0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.493);
}

nav {
    background-color: var(--cor6);
    padding-left: 1em;
    padding-bottom: 1em;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white
}

nav a:hover {
    color: var(--cor3);
    transition: .3s;
}

article {
    background-color: white;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
    border-radius: 0 0 .5em .5em;
}

article h1 {
    font: bold 1.5em var(--fonte2);
    color: var(--cor6);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 1em;
    margin: 1em 0;
}

article p {
    text-align: justify;
    line-height: 1.5em;
    margin: 1em 0;
}

article h2 {
    font: bold 1em var(--fonte2);
    color: var(--cor6);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 1em;
    margin: 1em 0;
}

.dandroids, .irina {
    width: 100%;
}

.bugdroid {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

article div {
    background-color: var(--cor6);
    margin: 0 -1em;
}

iframe {
    width: 70%;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor4);
    margin: 1em 0;
    border-radius: 1em;
    padding: 1em;
}

aside h3 {
    font: bold 1.5em;
    color: white;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside ul li {
    margin: .5em 0;
}

footer {
    background-color: var(--cor6);
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}

footer a {
    padding: 0 .5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor3);
    transition: .3s;
}