@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf);
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'idroid';
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--cor1);
    font-family: var(--fonte0);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    text-align: center;
    padding: 2em 0;
}

header h1 {
    padding-bottom: .5em;
    font: bold 2.5em var(--fonte1);
    color: var(--cor0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.450);
}

header p {
    font-weight: bold;
    font-size: 14px;
}

#menu {
    display: block;
    text-align: center;
    background-color: var(--cor5);
    color: white;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;

    background-color: var(--cor5);
    padding-left: 1em; 
    padding-bottom: 1em;
}

#itens {
    display: block;
    list-style: none;
}

#itens li {
    display: block;
    text-align: center;
    border: 3px solid white;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    min-width: 400px;
    max-width: 800px;
    margin: auto;

    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 0 0 .5em .5em;
}

main h2 {
    margin: 10px 0;
    font: bold 1.3em var(--fonte2);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 1em;
}

main p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    margin: 10px 0;
}

main strong {
    color: var(--cor5);
    padding: 0 10px; 
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: yellow;
    padding: 0 .5em;
}

main a::after {
    content: '\1F517';
}

main h3 {
    margin: 10px 0;
    font: bold 1em var(--fonte2);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 1em;
}

.dandroids, .irina {
    width: 100%;
    margin: 10px 0;
}

.bugdroid {
    display: block;
    margin: auto;
}

div {
    background-color: var(--cor2);
    margin: 0 -10px;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

main aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: .5em;
}

main aside h4 {
    margin: 10px 0;
    color: white;
}

main aside ul {
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    font-weight: bold;
    padding: 0 8px;
    text-decoration: none;
    color: white;
}