@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf);
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #96DD82;
    --cor1: #7FBB6E;
    --cor2: #9CE688;
    --cor3: #68995A;
    --cor4: #517746;
    --cor5: #3A5532;

    --fonte0: 'Bebas Neue', cursive;
    --fonte1: 'idroid', cursive;
}

body {
    height: 100vh;
    background-color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
}